/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.2s;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

section {
    padding: 2rem 5%;
    background-color: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 2rem 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

thead {
    background-color: #f5f5f5;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 5px;
}
/* Product Card */
.product-card {
    border: 1px solid #e5e5e5;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    transition: box-shadow 0.2s;
}

.product-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    border-radius: 5px;
}

.add-to-cart {
    background-color: #007BFF;
    color: white;
}

.add-to-cart:hover {
    background-color: #0056b3;
}


/* Order Management Buttons */
.view-order {
    background-color: #007BFF;
    color: white;
}

.view-order:hover {
    background-color: #0056b3;
}

.process-order {
    background-color: #FFC107;
    color: white;
}

.process-order:hover {
    background-color: #e0a800;
}



#employee-management-content {
    padding: 2rem 5%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

thead {
    background-color: #f5f5f5;
}

#add-employee, .view-employee, .update-employee, .monitor-employee {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

/* Employee Management Buttons */
#add-employee {
    background-color: #28a745;
    color: white;
}

#add-employee:hover {
    background-color: #218838;
}

.view-employee {
    background-color: #007BFF;
    color: white;
}

.view-employee:hover {
    background-color: #0056b3;
}

.update-employee {
    background-color: #FFC107;
    color: white;
}

.update-employee:hover {
    background-color: #e0a800;
}

.monitor-employee {
    background-color: #dc3545;
    color: white;
}

.monitor-employee:hover {
    background-color: #c82333;
}


